@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }

  body,
  li,
  button,
  label,
  input,
  select {
    @apply text-xs lg:text-sm;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  input[data-autocompleted] {
    background-color: transparent !important;
  }

  body,
  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .icon {
    @apply text-base lg:text-xl;
  }

  .label {
    @apply absolute left-1 top-2 z-10 origin-[0] -translate-y-4 scale-75 transform bg-white px-2 font-medium text-gray-500 duration-300;
  }

  .field {
    @apply block w-full appearance-none rounded-lg border bg-transparent p-2 text-gray-900 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-900;
  }
}
